li {
    list-style: none;
    display: inline-block; 
}
.header {
    background-size: cover;
    height: 200px;
    background-image: url(フリー写真/header.jpg);
    border: 1px white;
}
.header a {
    text-decoration: none;
    color: white;
}
.header-list :hover {
    color: rgb(80, 56, 212);
}

.header-logo {
    font-weight: bold;
    font-size: 70px;
    padding-left:20px;
    text-decoration: none;
    color: white;
}
.header-list {
    display: inline-block;
    text-align: center;
}

.header-list  li{
    float: left;
    width: 125px;
    text-decoration: none;
    color: white;
    font-size: 15px;
    background-color: lightgreen;
    border: solid 1px;
}
.header-list li li {
    clear: both;
    padding: 1px;
}
.header-list ul li ul {
    position: relative;
    top: 5px;
    left: -42px;
    width: 125px;
    height: 0;
    overflow: hidden;
    transition: opacity 0.5s;
}
.header-list :hover > ul {
    overflow: visible;
    background-color: lightgray;
    opacity: 1;
}
.contents {
    margin: 0 0.8em;
    display: flex;
    flex-wrap: wrap;
}
.image-top {
    background-color: blue;
    padding: 10px;
}
.box {
    font-size: 20px;
    width: 33%;
    text-align: center;
    font-weight: bold;
    background-color: lightskyblue;
}
.typhoon,.snow,.summer,.earthquake,.rain {
    height: 350px;
    width: 350px;
}
footer {
    height: 200px;
    background-color: #7890e7;
    clear: both;
}
.footer-list  li{
    margin: 0px 10px;
}